{% extends "layout.html" %}

{% block content %}
<div id="all_content">
<div id="chapter_div">
<div style="height: 100%; position: relative;">
<div id="definition_div">
    <span><a href="/book/{{ book.id }}"><-- Back</a></span><span class="vl"></span><span>Font: <button onclick="font_up()" style="font-size: 20pt;">+</button> / <button onclick="font_down()" style="font-size: 20pt;">-</button></span><br/>
<span id="definition_span">translations will appear here</span>
</div>
</div>
<div class="spacer">
&nbsp;
    <br/><br/><br/>
</div>
<h1>{{ book.title }}</h1>

<h2>{{ chapter.title }}</h2>

{% for paragraph in chapter.paragraphs %}
<p>
    {% for word in paragraph.words %}{% if word.pos != 'PUNCT'%} {% endif %}<span id="{{ word.id }}" {% if word.pos != 'PUNCT' %} class="word" onclick='set_translation("{{ word.lemma }}","{{ word.translation }}", "{{ word.id }}")'{% endif %}>{{ word.text }}</span>{% if word.footnote_id != None %}<sup onclick="show_fd('fd_{{ word.id }}')" style="cursor: pointer;">*</sup>{% endif %}{% endfor %}
</p>
{% endfor %}
{% for paragraph in chapter.paragraphs %}
    {% for word in paragraph.words %}
    {% if word.footnote_id != None %}<div class="modal" id="fd_{{ word.id }}">
    <div class="modal-content">
        <div id="ft_div_{{ word.id }}">
            translations will appear here
        </div>
        <hr/>
        {% for ft_word in word.footnote %}{% if ft_word.pos != 'PUNCT'%} {% endif %}<span id="{{ ft_word.id }}" {% if ft_word.pos != 'PUNCT' %} class="word" onclick='set_ft_translation("{{ ft_word.lemma }}","{{ ft_word.translation }}", "{{ ft_word.id }}", "ft_div_{{ word.id }}")'{% endif %}>{{ ft_word.text }}</span>{% if ft_word.footnote_id != None %}<sup onclick="show_fd('fd_{{ ft_word.id }}')">o</sup>{% endif %}{% endfor %}<br/></div></div>{% endif %}
    {% endfor %}
{% endfor %}
</div>
<script>

    var current_highlight_word = 0;
    var ft_current_highlight_word = 0;

    function set_translation(word, translation, new_highlight_word) {
        translation_div = document.getElementById('definition_span');
        translation_div.innerHTML = '<strong>' + word + ':</strong> ' + translation;
        if (current_highlight_word != 0) {
            document.getElementById(current_highlight_word).style.color = "black";
        }
        current_highlight_word = new_highlight_word;
        document.getElementById(new_highlight_word).style.color = "blue";
    }

    function set_ft_translation(word, translation, new_highlight_word, trans_div) {
        translation_div = document.getElementById(trans_div);
        translation_div.innerHTML = '<strong>' + word + ':</strong> ' + translation;
        if (ft_current_highlight_word != 0) {
            document.getElementById(ft_current_highlight_word).style.color = "black";
        }
        ft_current_highlight_word = new_highlight_word;
        document.getElementById(new_highlight_word).style.color = "red";
    }

    var font_size = 30;

    function font_up() {
        txt = document.getElementById('all_content');
        style = window.getComputedStyle(txt, null).getPropertyValue('font-size');
        currentSize = parseFloat(style);
        txt.style.fontSize = (currentSize + 1) + 'px';
    }

    function font_down() {
        txt = document.getElementById('all_content');
        style = window.getComputedStyle(txt, null).getPropertyValue('font-size');
        currentSize = parseFloat(style);
        txt.style.fontSize = (currentSize - 1) + 'px';
    }

    function show_fd(fd_id) {
        document.getElementById(fd_id).style.display = "block";
    }

    function close_fd(fd_id) {
        document.getElementById(fd_id).style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target.className == "modal") {
        close_fd(event.target.id);
      }
    }

</script>
</div>
{% endblock content %}
